@font-face {
    font-family: "MagicSound";
    src: url("font/MagicSound.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "MatSaleh";
    src: url("font/MatSaleh.ttf") format("truetype"), url("font/MatSaleh.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "BERNARDWACKER";
    src: url("font/BERNARDWACKER.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "HOtPotato";
    src: url("font/HotPotato.ttf") format("truetype"), url("font/HotPotato.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }  
  @font-face {
    font-family: "MegaSurprise";
    src: url("font/MegaSurprise.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }


body{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 700px;
}

#conteiner1{
    display: block;
    width: 99vw;
    height: 57vh;
    padding-top: 40vh;
    text-align: center;
    background-color:aquamarine;
}
#titulo1{
    font-family: 'MatSaleh', Times, serif;
    font-size: 56px;
}
#nome{
    width: 50%;
    height: 35px;
    max-width: 600px;
    min-width: 400px;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 30px 2px lightgrey;
}

#confirmar{
    margin: 20px 0 0 10px;
    --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-family: 'BERNARDWACKER', Times, serif;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.botao1{
    display: block;
  box-sizing: border-box;
  font-family: 'BERNARDWACKER', Times, serif;
  border: 1px auto auto auto solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

#confirmar:hover .botao1{
    transform: translateY(-0.33em);
}

#confirmar:active .confirmar{
    transform: translateY(0);
}

#conteiner2{
    position: relative;
    display: none;
    height: 94vh;
    width: 99vw;
}

#cenario{
    width:100%;
    height: 105%;
    margin-top: -20px;
    position: absolute;
}



#classificacaoPontos, #pontuação{
    text-align: center;
}

#pontuação{
    font-size: 26px;
}

#nomeSuper{
    margin:105px 0 5px 400px;
}

#vidaSuper{
    width: 118px;
    height: 20px; 
    margin: 135px 0 0px 405px;
    text-align: center;
}

#nomeSuper, #vidaInimigo, #nomeInimigo{
    width: 128px;
    text-align: center;
}

#super{
    width: 128px;
    height: 81px;
    background-repeat: no-repeat;
    margin: 270px 0 5px 405px;
}

#nomeInimigo{
    margin:-40px 0 5px 345px;
}

#vidaInimigo{
    margin: -100px 100px -230px 805px;

}

#inimigo{
    position: relative;
    width: 130px;
    height: 138px;
    margin: -113px 0 5px 800px;
    background-repeat: no-repeat;
    transform: scaleX(-1);
}

#conteiner3{
    width: 30px;
    height: 30px;
    margin: 5px 0 0 5px;

}

#conteiner5{
    margin: 25px 0 0 450px;
}


#controles{
    width: 100%;
    height: 19%;
    position: absolute;
    margin: 5px 0 0 0px;
    background-color: gray;
    box-shadow: inset black;
}

.botao2{
    margin-left: 125px;
    float: left; 
    position: relative;
  width: 2.5em;
  height: 2em;
  background-color: #644dff;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 2;
  box-shadow: 0 .5em #4836bb;
  transition: all .1s ease;
  filter: drop-shadow(0 6px 2px #4836bb38);
  border: 1px solid #4836bb;
}

#atacar{
    font-weight: 47;
    font-size: 82%;
    font-family: 'HotPotato', Times, serif;
    padding-right:38px ;
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  height: 110%;
  width: 110%;
  background-color: #644dff;
  color: RED;
}
.botao2:has(#atacar:active) {
    box-shadow: none;
    margin-top: 1em;
    filter: drop-shadow(0 3px 1px #4836bbbe);
  }
  
#fimAventura{
    font-weight: 50;
    font-size: 40%;
    font-family: 'BERNARDWACKER', Times, serif;
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  height: 110%;
  width: 110%;
  background-color: #644dff;
  color: rgb(0, 0, 0);
}
.botao2:has(#fimAventura:active) {
    box-shadow: none;
    margin-top: 1em;
    filter: drop-shadow(0 3px 1px #4836bbbe);
  }

#conteiner6{
    display: none;
    height: 97vh;
    width: 99vw;
    background-color: blueviolet;
}

#parabens, #texto{
    text-align: center;
    font-weight: bold;
}

#parabens{    
    padding: 2% 0 0 0;
    font-family: 'MegaSurprise', Times, serif;
    font-size: 120px;
    font-weight: 5;
    color:yellow
}

#texto{
font-size: 50px;
font-family: 'MatSaleh', Times, serif;
}

#classificacaoFinal{
    text-align: center;
    font-size: 25px;
    margin: 120px 0 0 0;
    font-weight: bold
}

#pontosFinais{
    text-align: center;
    font-size: 25px;
    margin: 5px 0 0 0;
    font-weight: bold
}

#recarregar{
    margin: 10% 0 0 40%;
    --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}
#recarregar:hover .botao1{
    transform: translateY(-0.33em);
}

#recarregar:active .confirmar{
    transform: translateY(0);
}

#conteiner7{
    display: none;
    height: 97vh;
    width: 99vw;
}

#cenarioGameOver{
    width:100%;
    height: 105%;
    margin-top: -20px;
    position: absolute;
}

#lapide{
    width:65%;
    height: 55%;
    background-image: url("img/cenario/game_over/lapide.png");
    z-index: -1;
}

#textoGameOver{
    font-size: 50px;
    font-family: 'MatSaleh', Times, serif;
}

#classificacaoFinalGameOver{
        text-align: center;
        font-size: 25px;
        margin: 120px 0 0 0;
        font-weight: bold
}

#pontosFinaisGameOver{
        text-align: center;
        font-size: 25px;
        margin: 5px 0 0 0;
        font-weight: bold
}